

p{
    font-size: 16px;

}
/*header styling */
.header-style{
    position: relative;
    color:#fff;
    font-weight:500;
}
.logo-image{
    width: 160px;
    height: 70px;
    position: absolute;
    bottom: 138px;
    right: 0;

}
.about-content{
    padding: 10px;
}

.hidden-cutz-pic{
    width:100%;
}

/*Nav styling */
a{
    color: white;
    text-decoration:none;
    position:relative;
    padding:5px;
    font-size: 20px;

}

a:hover{
    color:black;
    text-decoration: none;
}

/*background-header */

.header{
    background-color: #172F56;
    /*height: 170px;*/
    /*padding-bottom: 0;*/
    padding: 90px;
}


.test{
    background: url("../img/Ocean.jpg") 50% 500px fixed;
    background-size: cover;
}


nav{
    padding: 27px 0 15px;
}




.title{
    color:white;
    position:relative;
    padding: 65px 0;
    margin: 0;
}

/*Content */

.left-container{
    background-color:#6da3c7;
    position:relative;
    height: 300px;


}

.right-container{
    padding-top: 25px;
    height: 300px;
}
.third-left-container{
    background-color: #035378;
    height: 300px;

}
.third-right-container{
    background-color:#172F56;
    padding:20px;
    height: 300px;
}
.second-left-container{
    background-color:#b2c0cb ;
    height: 500px;
}
span{
    list-style: none;
    display: inline;

}
.end{
    padding: 0;
    color:white;
}
/*footer */
.email{
    color:white;
    position: relative;
    right: 7px;
}

.lwrapper{
    max-width: 1240px;

}
.lwrapper1{
    color:white;
}
i{
    color:white;
    width: 30px;
    height: 30px;
    padding-top: 5px;
}
i:hover{
    color:#F54F29;
    text-decoration: none;

}
.cuts-logo{
    width: 100%;
    cursor: pointer;
    display: inline;
}
.pop-up{
    box-shadow:0 0 1px 5000px rgba(0,0,0,0.8);
    z-index: 5;
    -webkit-transition: all 1s;
    -moz-transition:  1s;
    -ms-transition:  1s;
    -o-transition:  1s;
    transition:  1s;
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
}
.is-visible{
    opacity: 1;
    visibility: visible;

}

.second-right-container{
    height: auto;
    padding:0;
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

}

.second-right-container::-webkit-scrollbar {
    display: none;
}
@media screen and (min-width: 992px){
.second-right-container {
    height: 500px;
    }


}
.hands-pic{
    width: 80%;
    display: block;
    margin: auto;
    cursor: pointer;
}
.a-padding{
    position: relative;
    top: -22px;
}


.box {
    /*cursor: pointer;*/
    /*height: 300px;*/
    position: relative;
    overflow: hidden;
    /*width: 400px;*/
}

.box .overbox {
    /*background-color: #304562;*/
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    /*width: 360px;*/
    /*height: 240px;*/
    /*padding: 130px 20px;*/
}

.box:hover .overbox { opacity: 1; }

.box .overtext {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
}

.box .title {
    font-size: 2.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
}

.box:hover .title,
.box:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

.box .tagline {
    font-size: 0.8em;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
}

.box:hover .tagline,
.box:focus .tagline {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
}

.tagline.overtext {
    padding-left: 14px;
}

.title.overtext{
    padding-left: 14px;
}
